In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

In [2]:
from feataz.encoders import *

In [3]:
OneHotEncoder

feataz.encoders.OneHotEncoder

In [6]:
OneHotEncoder(["Pclass"], drop_first = True).fit_transform(df)

shape: (891, 13)
┌─────────────┬──────────┬─────────────────┬────────┬───┬───────┬──────────┬───────────┬───────────┐
│ PassengerId ┆ Survived ┆ Name            ┆ Sex    ┆ … ┆ Cabin ┆ Embarked ┆ Pclass__2 ┆ Pclass__3 │
│ ---         ┆ ---      ┆ ---             ┆ ---    ┆   ┆ ---   ┆ ---      ┆ ---       ┆ ---       │
│ i64         ┆ i64      ┆ str             ┆ str    ┆   ┆ str   ┆ str      ┆ i8        ┆ i8        │
╞═════════════╪══════════╪═════════════════╪════════╪═══╪═══════╪══════════╪═══════════╪═══════════╡
│ 1           ┆ 0        ┆ Braund, Mr.     ┆ male   ┆ … ┆ null  ┆ S        ┆ 0         ┆ 1         │
│             ┆          ┆ Owen Harris     ┆        ┆   ┆       ┆          ┆           ┆           │
│ 2           ┆ 1        ┆ Cumings, Mrs.   ┆ female ┆ … ┆ C85   ┆ C        ┆ 0         ┆ 0         │
│             ┆          ┆ John Bradley    ┆        ┆   ┆       ┆          ┆           ┆           │
│             ┆          ┆ (Fl…            ┆        ┆   ┆       ┆          ┆           ┆           │
│ 3           ┆ 1        ┆ Heikkinen,      ┆ female ┆ … ┆ null  ┆ S        ┆ 0         ┆ 1         │
│             ┆          ┆ Miss. Laina     ┆        ┆   ┆       ┆          ┆           ┆           │
│ 4           ┆ 1        ┆ Futrelle, Mrs.  ┆ female ┆ … ┆ C123  ┆ S        ┆ 0         ┆ 0         │
│             ┆          ┆ Jacques Heath   ┆        ┆   ┆       ┆          ┆           ┆           │
│             ┆          ┆ (…              ┆        ┆   ┆       ┆          ┆           ┆           │
│ 5           ┆ 0        ┆ Allen, Mr.      ┆ male   ┆ … ┆ null  ┆ S        ┆ 0         ┆ 1         │
│             ┆          ┆ William Henry   ┆        ┆   ┆       ┆          ┆           ┆           │
│ …           ┆ …        ┆ …               ┆ …      ┆ … ┆ …     ┆ …        ┆ …         ┆ …         │
│ 887         ┆ 0        ┆ Montvila, Rev.  ┆ male   ┆ … ┆ null  ┆ S        ┆ 1         ┆ 0         │
│             ┆          ┆ Juozas          ┆        ┆   ┆       ┆          ┆           ┆           │
│ 888         ┆ 1        ┆ Graham, Miss.   ┆ female ┆ … ┆ B42   ┆ S        ┆ 0         ┆ 0         │
│             ┆          ┆ Margaret Edith  ┆        ┆   ┆       ┆          ┆           ┆           │
│ 889         ┆ 0        ┆ Johnston, Miss. ┆ female ┆ … ┆ null  ┆ S        ┆ 0         ┆ 1         │
│             ┆          ┆ Catherine Hele… ┆        ┆   ┆       ┆          ┆           ┆           │
│ 890         ┆ 1        ┆ Behr, Mr. Karl  ┆ male   ┆ … ┆ C148  ┆ C        ┆ 0         ┆ 0         │
│             ┆          ┆ Howell          ┆        ┆   ┆       ┆          ┆           ┆           │
│ 891         ┆ 0        ┆ Dooley, Mr.     ┆ male   ┆ … ┆ null  ┆ Q        ┆ 0         ┆ 1         │
│             ┆          ┆ Patrick         ┆        ┆   ┆       ┆          ┆           ┆           │
└─────────────┴──────────┴─────────────────┴────────┴───┴───────┴──────────┴───────────┴───────────┘

In [7]:
OrdinalEncoder(["Name"], drop_original=False).fit_transform(df)

shape: (891, 13)
┌─────────────┬──────────┬────────┬───────────────────┬───┬─────────┬───────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Name__ord │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---       │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ f64     ┆ str   ┆ str      ┆ i64       │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═════════╪═══════╪══════════╪═══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 108       │
│             ┆          ┆        ┆ Harris            ┆   ┆         ┆       ┆          ┆           │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 190       │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆         ┆       ┆          ┆           │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 353       │
│             ┆          ┆        ┆ Laina             ┆   ┆         ┆       ┆          ┆           │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 272       │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆         ┆       ┆          ┆           │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 15        │
│             ┆          ┆        ┆ William Henry     ┆   ┆         ┆       ┆          ┆           │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …       ┆ …     ┆ …        ┆ …         │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.    ┆ … ┆ 13.0    ┆ null  ┆ S        ┆ 548       │
│             ┆          ┆        ┆ Juozas            ┆   ┆         ┆       ┆          ┆           │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.     ┆ … ┆ 30.0    ┆ B42   ┆ S        ┆ 303       │
│             ┆          ┆        ┆ Margaret Edith    ┆   ┆         ┆       ┆          ┆           │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.   ┆ … ┆ 23.45   ┆ null  ┆ S        ┆ 413       │
│             ┆          ┆        ┆ Catherine Hele…   ┆   ┆         ┆       ┆          ┆           │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl    ┆ … ┆ 30.0    ┆ C148  ┆ C        ┆ 81        │
│             ┆          ┆        ┆ Howell            ┆   ┆         ┆       ┆          ┆           │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.       ┆ … ┆ 7.75    ┆ null  ┆ Q        ┆ 220       │
│             ┆          ┆        ┆ Patrick           ┆   ┆         ┆       ┆          ┆           │
└─────────────┴──────────┴────────┴───────────────────┴───┴─────────┴───────┴──────────┴───────────┘

In [15]:
df = pl.DataFrame({
        "cat": ["a", "b", "a", "c", "b", "a"],
        "x": [1.0, 2.5, 0.5, 3.2, 2.7, 4.1],
        "y": [0, 1, 0, 1, 1, 0],
    })

In [16]:
df3 = CountFrequencyEncoder(["cat"], normalize=True).fit_transform(df)

In [17]:
df3

shape: (6, 3)
┌─────┬─────┬────────────┐
│ x   ┆ y   ┆ cat__count │
│ --- ┆ --- ┆ ---        │
│ f64 ┆ i64 ┆ f64        │
╞═════╪═════╪════════════╡
│ 1.0 ┆ 0   ┆ 0.5        │
│ 2.5 ┆ 1   ┆ 0.333333   │
│ 0.5 ┆ 0   ┆ 0.5        │
│ 3.2 ┆ 1   ┆ 0.166667   │
│ 2.7 ┆ 1   ┆ 0.333333   │
│ 4.1 ┆ 0   ┆ 0.5        │
└─────┴─────┴────────────┘